* {
  box-sizing: border-box;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 2em;
  background-color: grey;
  border-bottom: 1px solid black;
  box-shadow: 0 0 3px black;
  color: #FFFFFF
}

.login-form {
  display: flex;
}

#username-input {
  border-radius: 1px;
  box-shadow: 0 0 1px black;
}

#password-input {
  border-radius: 1px;
  box-shadow: 0 0 1px black;
}

.login-button {
  border-radius: 1px;
  box-shadow: 0 0 1px black;
}
.boulder-overview {
  display: flex;
  justify-content: space-around;
}

.boulder-information {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 80vh;
  width: 35%;
  padding-right: 40px;
}

.image-gallery {
  display: flex;
  justify-content: center;
  height: 80vh;
  width:  65%;
}

.boulder-container {
  display: flex;
  justify-content: space-between;
}

.total-boulders {
  display: flex;
  flex-direction: column;
}

.boulder-set {
  display: flex;
}

.boulder-thumbnail {
  min-height: 50px;
  min-width: 50px;
  max-height: 50px;
  max-width: 50px;
  text-align: center;
  vertical-align: center;
  border-radius: 10px;
  margin: 10px;
  border: 1px solid black;
  box-shadow: 0 0 3px black;
}

.spray-icons {
  display: flex;
}

.spray-icon {
  margin-left: 10px;
  margin-right: 10px;
}

.image-container {
  display: flex;
  height: 90%;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  align-self: center;
  overflow: hidden;
}

.image-nav-btn {
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: contain;
  max-height: 90%;
  max-width: 70%;
  overflow: hidden;
  border-radius: 3px;
  border: 1px solid black;
  box-shadow: 0 0 5px black;
}
.current-image {
  border-radius: 3px;
  object-fit: contain;
  height: 95%;
  width: 100%;
  box-shadow: 0 0 5px black;
}


.current-image:hover {
  cursor: zoom-in;
  box-shadow: 0 0 10px black;
}

.current-expanded-image {
  border-radius: 3px;
  object-fit: contain;
  box-shadow: 0 0 5px black;
}

.expanded-gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0px 5px 0px;
}

.expanded-image {
  border-radius: 20px;
  max-height: 60%;
  max-width: 75%;
}

.expanded-boulder-overview {
  display: flex;
  flex-direction: column;
}

.expanded-thumbnail {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: black;
  box-shadow: 0 0 3px black;
}

.selected-expanded-thumbnail {
  height: 25px;
  width: 25px;
  background-color: red;
  border-radius: 50%;
  box-shadow: 0 0 3px red;
}

.expanded-thumbnail-container {
  display: flex;
  justify-content: center;
  align-content: center;
  border-radius: 50%;
}

:root {
  --star-size: 22px;
  --star-color: grey;
  --star-background: black;
  --bar-height: 20px;
  --bar-width: 80%;
  --bar-background: green;
  --bar-color: grey;
}

.Stars {
  --percent: calc(var(--rating) / 5 * 100%);
  display: inline-block;
  font-size: var(--star-size);
  font-family: Times;
  line-height: 1;
}

.Stars::before {
  content: '★★★★★';
  letter-spacing: 3px;
  background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.thumbnail-carousel-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.selected-thumbnail {
  height: 50px;
  width: 50px;
  border-radius: 3px;
  border: 1px solid red;
  object-fit: cover;
}

.thumbnail {
  height: 50px;
  width: 50px;
  border-radius: 3px;
  border: 1px solid black;
  object-fit: cover;
}

.current-zoomed-image {
  transform: scale(2.5);
  object-fit: contain;
  box-sizing: border-box;
  border-radius: 3px;
  box-shadow: 0 0 5px black;
  max-height: 100%;
  max-width: 100%;
  overflow: hidden;
  cursor: zoom-out;
}

.message-board-container {
  display: flex;
  height: 80vh;
  width: 100%;
  border-bottom: 1px solid black;
  margin-bottom: 30px;
  padding-bottom: 30px;
}

.message-board {
  height: 100%;
  width: 75%;
  /* border: 1px solid black; */
}

.filter-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 25%;
  /* border: 1px solid black; */
}

.filter-posts-container {
  width: 100%;
  height: 35%;
  /* border: 1px solid black; */
}

.climb-tags-container {
  width: 100%;
  height: 65%;
  /* border: 1px solid black; */
}

.create-post-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 35%;
  /* border: 1px solid black; */
}

.post-view-container {
  width: 100%;
  max-height: 65%;
  /* border: 1px solid black; */
  overflow: hidden;
  overflow-y: scroll;
}

#post-message {
  width: 100%;
  height: 100%;
  box-shadow: 0 0 3px black;
}

.post-footer-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
}

.post-social-icons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
  height: 100%;
}

.post-submit {
  align-self: center;
  height: 50%;
  width: 50%;
  box-shadow: 0 0 1px black;
}

.individual-message {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 3px;
  box-shadow: 0 0 3px black;
  height: 25%;
  margin: 10px
}

.message-body {
  display: flex;
}

.message-footer {
  display: flex;
  justify-content: space-between;
}

.like-dislike-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tag {
  margin: 2px;
  box-shadow: 0 0 1px black;
}

.post-tags {
  display: flex;
  justify-content: center;
  align-items: center;
}

.reviews-overview-container {
  display: flex;
  height: 80vh;
  width: 100%;
}

.left-bar-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 25%;
}

.right-bar-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 75%;
}

.star-rating-container {
  display: flex;
  flex-direction: column;
  height: 50%;
  width: 100%;
}

.reviews-filter-container {
  display: flex;
  flex-direction: column;
  height: 40%;
  width: 100%;
}

.boulder-tags-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.post-review-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 35%;
}

.reviews-view-container {
  width: 100%;
  height: 65%;
  overflow: hidden;
  overflow-y: scroll;
  margin-bottom: 20px;
}

.ratings-bar {
  position: relative;
  height: 10px;
  width: 100%;
  border: 1px solid black;
  border-radius: 3px;
  background-color: gray;
  box-shadow: 1px 1px 2px #000000;
}

.ratings-innerbar {
  position: relative;
  background-color: black;
  height: 9px;
  width: 100%;
  border: 1px solid black;
  border-radius: 3px;
  box-shadow: 2px 2px 4px #aeaeae;
}

.ratings {
 font-size: small;
 float: right;
}

.review-footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  height: 100%;
}

.relevant-tags {
  width: 50%;
  height: 100%;
}

.review-submit {
  width: 75%;
  height: 50%;
  box-shadow: 0 0 1px black;
}

.review-rating {
  text-align: right;
}

.review-body-container {
  display: flex;
  justify-content: space-between;
}

.stars {
  float: left;
  overflow: hidden;
  width: 100%;
}

.stars input[type=radio]:checked ~ label:after {
  color: black;
}
.stars input[type=radio] {
  display: none;
}
.stars input[type=radio]:first-child + label {
  padding-right: 0;
}
.stars:hover input[type=radio]:checked ~ label:after,
.stars label:after {
  color: grey;
}
.stars label {
  box-sizing: border-box;
  /* padding-right: 2%; */
  float: right;
  cursor: pointer;
}
.stars label:after {
  display: block;
  content: "★";
  font-size: 22px;
  letter-spacing: 3px;
  float: right;
  transition: all 0.25s;
  color: grey;
}
.stars label:hover:after,
.stars label:hover ~ label:after {
  color: black !important;
}

.submit-stars-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: flex-end;
}

.ticklist-buttons {
  display: flex;
  justify-content: space-between;
}