* {
  box-sizing: border-box;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 2em;
  background-color: grey;
}

.login-form {
  display: flex;
}

.boulder-overview {
  display: flex;
  justify-content: space-between;
}

.boulder-information {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  height: 80vh;
  width: 35%;
}

.image-gallery {
  display: flex;
  justify-content: center;
  border: 1px solid black;
  height: 80vh;
  width:  65%;
}

.container {
  display: flex;
}

.total-boulders {
  display: flex;
  flex-direction: column;
}

.boulder-set {
  display: flex;
}

.boulder-thumbnail {
  height: 50px;
  width: 50px;
  text-align: center;
  vertical-align: center;
  border-radius: 50%;
  border: 1px solid black;
}

.spray-icons {
  display: flex;
}

.image-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.image-nav-btn {
  all: unset;
}

.current-image {
  border-radius: 3px;
  object-fit: contain;
}

.current-image:hover {
  cursor: zoom-in;
}

.current-expanded-image {
  border-radius: 3px;
  object-fit: contain;
}

.expanded-gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0px 5px 0px;
}

.expanded-image {
  border-radius: 20px;
  max-height: 60%;
  max-width: 75%;
}

.expanded-boulder-overview {
  display: flex;
  flex-direction: column;
}

.expanded-thumbnail {
  height: 25px;
  width: 25px;
  background-color: black;
}

.selected-expanded-thumbnail {
  height: 25px;
  width: 25px;
  background-color: red;
  border-radius: 50%;
}

.expanded-thumbnail-container {
  display: flex;
  justify-content: center;
  align-content: center;
  border-radius: 50%;
}

:root {
  --star-size: 22px;
  --star-color: grey;
  --star-background: black;
}

.Stars {
  --percent: calc(var(--rating) / 5 * 100%);
  display: inline-block;
  font-size: var(--star-size);
  font-family: Times;
  line-height: 1;
}

.Stars::before {
  content: '★★★★★';
  letter-spacing: 3px;
  background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.selected-thumbnail {
  height: 50px;
  width: 50px;
  border-radius: 3px;
  border: 1px solid red;
  object-fit: cover;
}

.thumbnail {
  height: 50px;
  width: 50px;
  border-radius: 3px;
  border: 1px solid black;
  object-fit: cover;
}